# ReadMe

**This is the notebook to import the data from K/I/whatever the driver is and send raw/cleaned data to a postgresql DB on powerplant.**

**Plan:**

1. Read data in
2. Select down to right TDR measurments
3. Send the raw data from each tdr to DB - this is for examing the suprise values 
4. Clean out missing and stupid high values
5. Average the value in each layer (7 layers in total)
6. Calculate deficit 
7. Upload the calculated deficit to DB - for real irrigation scheduling - need to be a separate table 

**PostgreSQL credentials**

    host = "database.powerplant.pfr.co.nz",
    database = "cflfcl_Rainshelter_SWC",
    user = "cflfcl_Rainshelter_SWC",
    password = "o654UkI6iGNwhzHu"
    
**Format that `sqlalchemy` like**
    
    "postgresql://cflfcl_Rainshelter_SWC:o654UkI6iGNwhzHu@database.powerplant.pfr.co.nz/cflfcl_Rainshelter_SWC"
    
**Demo data source**

    K:\Rainshelter\StonySoilLysimeters

### libraries

In [ ]:
import datetime
import pandas as pd
import numpy as np
import time 
import psycopg2
from sqlalchemy import create_engine

### DataSource

In [ ]:
path="K:/Rainshelter/StonySoilLysimeters/"

In [ ]:
# Read in the main data
AllData=pd.read_csv(path + 'DownloadedData/StonyLysimetersCS650.dat', #specify file path for data to read in
                         parse_dates=True, #tell the function to parse date columns to datetime formats
                         dayfirst=True, #tell the function that the day is before the year in the data i.e format='%d/%m/%Y %H:%M'
                         skiprows = [0,2,3], #leave out rows 1, 3 and 4 which have redundant information
                         index_col = 0, #Use the first column, which is Date, as an index
                         na_values = 'NAN')

In [ ]:
AllData.head()

In [ ]:
#The index for sensors
AllDataIndex = pd.read_excel(path + "Lysometer_design.xlsx",
                             sheet_name="SensorIndex",
                             index_col = 0)
AllDataIndex.head()

In [ ]:
# filter the part that interested in 
FilteredIndex=AllDataIndex[AllDataIndex.Measurement.isin(['VolumetricWaterContent'])] # structure to add in more cols

In [ ]:
FilteredIndex.head()

In [ ]:
FilteredIndex.describe()

In [ ]:
# select only the interested columns 
FilteredData=AllData.loc[:,FilteredIndex.index]

In [ ]:
# set up the index and output the last row 
FilteredDataTrans=FilteredData.transpose() # transpose to the format match the index format
FilteredDataIndexed=pd.concat([FilteredIndex,FilteredDataTrans], axis=1) # join them together

FilteredDataIndexed.index.name='ColumnHeader'
FilteredDataIndexed.set_index(['Measurement','Depth','Gravels','Stones','Column','Sensor', 'MUX', 'Port','Units','Summary','Block','Treatment'], 
                        append=False, inplace=True)
FilteredDataIndexed.sort_index(inplace=True)
FieldData=FilteredDataIndexed.transpose()
FieldData.index = pd.to_datetime(FieldData.index) 
LastRow = FieldData.index.size
np.save('LastRow.npy',LastRow)
FieldData.to_pickle('.\FieldData.pkl')

In [ ]:
FieldData.head()

In [25]:
# last filter to get ready upload the raw 
# is not actually calculate any mean, just want to see the data
grouped = FieldData.loc['2015-10-10':].groupby(level=['Sensor'],axis=1).mean().round(2)

In [26]:
grouped.head()

Sensor,S_1,S_10,S_11,S_12,S_13,S_14,S_15,S_16,S_17,S_18,...,S_88,S_89,S_9,S_90,S_91,S_92,S_93,S_94,S_95,S_96
2015-10-10 00:00:00,0.27,0.28,0.17,0.22,0.23,0.33,0.24,0.29,0.26,0.25,...,0.2,0.17,0.26,0.23,0.3,0.3,0.26,0.23,0.28,0.25
2015-10-10 00:15:00,0.27,0.28,0.17,0.22,0.23,0.33,0.24,0.29,0.26,0.25,...,0.2,0.17,0.26,0.23,0.3,0.3,0.26,0.23,0.28,0.25
2015-10-10 00:30:00,0.27,0.28,0.17,0.22,0.23,0.33,0.24,0.29,0.26,0.25,...,0.2,0.17,0.26,0.23,0.3,0.3,0.26,0.23,0.28,0.25
2015-10-10 00:45:00,0.27,0.28,0.17,0.22,0.23,0.33,0.24,0.29,0.26,0.25,...,0.2,0.17,0.26,0.23,0.3,0.3,0.26,0.23,0.28,0.25
2015-10-10 01:00:00,0.27,0.28,0.17,0.22,0.23,0.33,0.24,0.29,0.26,0.25,...,0.2,0.17,0.26,0.23,0.3,0.3,0.26,0.23,0.28,0.25

### DB connection and uploading

In [ ]:
# FieldData.dtypes
# FieldData.index
engine = create_engine("postgresql://cflfcl_Rainshelter_SWC:o654UkI6iGNwhzHu@database.powerplant.pfr.co.nz/cflfcl_Rainshelter_SWC")
grouped.to_sql(name="RawData_96Sensors",con=engine,if_exists='replace' )

In [ ]:
#Place holder for `.csv` index file
# AllDataIndex=pd.read_csv('./IndexFiles/SoilWaterAndTempIndex.csv',
#                          index_col = 0)
# AllDataIndex

In [27]:
grouped.tail()

Sensor,S_1,S_10,S_11,S_12,S_13,S_14,S_15,S_16,S_17,S_18,...,S_88,S_89,S_9,S_90,S_91,S_92,S_93,S_94,S_95,S_96
2019-09-25 14:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.18,0.16,NaN,0.21,0.29,0.28,0.17,0.19,0.25,0.21
2019-09-25 14:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.18,0.16,NaN,0.21,0.29,0.28,0.17,0.19,0.25,0.21
2019-09-25 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.18,0.16,NaN,0.21,0.29,0.28,0.17,0.19,0.25,0.21
2019-09-25 15:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.18,0.16,NaN,0.21,0.29,0.28,0.17,0.19,0.25,0.21
2019-09-25 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.18,0.16,NaN,0.21,0.29,0.28,0.17,0.19,0.25,0.21

### Calculate Deficit

In [28]:
DataMeans =  FieldData.loc['2015-10-10':].groupby(level=['Measurement','Depth','Gravels','Stones'],axis=1).mean()
DataMeans =  DataMeans.dropna(axis=1) #For some reason it keeps non valid combinations in so need to extract with this function
ProfileWater = DataMeans.VolumetricWaterContent.loc[:, 'D1'] * 150 + \
               DataMeans.VolumetricWaterContent.loc[:, 'D2'] * 150 + \
               DataMeans.VolumetricWaterContent.loc[:, 'D3'] * 150 + \
               DataMeans.VolumetricWaterContent.loc[:, 'D4'] * 150 
FieldCapacity = ProfileWater.resample('D').max()
FieldCapacity = FieldCapacity.loc['2015-10-14'] +10 # I would have though this would return a data frame with a single row but instead it returns a series with a multiindex in columns
SoilWaterDeficit = -(FieldCapacity - ProfileWater)

In [29]:
SoilWaterDeficit.transpose()

                   2015-10-10 00:00:00  2015-10-10 00:15:00  \
Gravels Stones
Deep    StoneFree              6.99875               6.9800
        Stony                 12.91250              12.8375
        VeryStony              8.51000               8.4425
Shallow StoneFree             14.95250              14.8775
        Stony                  9.94250               9.8075
        VeryStony              9.71000               9.5975

                   2015-10-10 00:30:00  2015-10-10 00:45:00  \
Gravels Stones
Deep    StoneFree              6.92375              6.88625
        Stony                 12.72500             12.66500
        VeryStony              8.36375              8.30375
Shallow StoneFree             14.79125             14.69750
        Stony                  9.71750              9.60500
        VeryStony              9.48125              9.35750

                   2015-10-10 01:00:00  2015-10-10 01:15:00  \
Gravels Stones
Deep    StoneFree              6.84875              6.83375
        Stony                 12.60875             12.52625
        VeryStony              8.24000              8.17250
Shallow StoneFree             14.65250             14.56625
        Stony                  9.48875              9.39125
        VeryStony              9.24125              9.14000

                   2015-10-10 01:30:00  2015-10-10 01:45:00  \
Gravels Stones
Deep    StoneFree              6.79250              6.74750
        Stony                 12.46625             12.39500
        VeryStony              8.13500              8.04500
Shallow StoneFree             14.51375             14.46875
        Stony                  9.28625              9.21500
        VeryStony              9.06875              8.92250

                   2015-10-10 02:00:00  2015-10-10 02:15:00  ...  \
Gravels Stones                                               ...
Deep    StoneFree              6.70625              6.67250  ...
        Stony                 12.33875             12.27875  ...
        VeryStony              7.98875              7.94750  ...
Shallow StoneFree             14.37500             14.30750  ...
        Stony                  9.14000              9.03875  ...
        VeryStony              8.85500              8.77250  ...

                   2019-09-25 13:15:00  2019-09-25 13:30:00  \
Gravels Stones
Deep    StoneFree              5.08375              5.07375
        Stony                -15.60250            -15.61250
        VeryStony            -25.82875            -25.83375
Shallow StoneFree             -9.43375             -9.44875
        Stony                -19.65750            -19.76250
        VeryStony            -23.77875            -23.80375

                   2019-09-25 13:45:00  2019-09-25 14:00:00  \
Gravels Stones
Deep    StoneFree              5.07875              5.08375
        Stony                -15.62750            -15.63250
        VeryStony            -25.87375            -25.88375
Shallow StoneFree             -9.52375             -9.53375
        Stony                -19.77250            -19.82250
        VeryStony            -23.81375            -23.83875

                   2019-09-25 14:15:00  2019-09-25 14:30:00  \
Gravels Stones
Deep    StoneFree              5.04875              5.03875
        Stony                -15.68750            -15.67750
        VeryStony            -25.87375            -25.88875
Shallow StoneFree             -9.52375             -9.52375
        Stony                -19.84750            -19.88750
        VeryStony            -23.84375            -23.87375

                   2019-09-25 14:45:00  2019-09-25 15:00:00  \
Gravels Stones
Deep    StoneFree              5.00875              4.99875
        Stony                -15.73250            -15.72750
        VeryStony            -25.91875            -25.93875
Shallow StoneFree             -9.55875             -9.60375
        Stony                -19.93750            -19.95750
        VeryStony            -23.89875            -23.91375

                   2019-09-25 15:15:00  2019-09-25 15:30:00
Gravels Stones
Deep    StoneFree              4.95375              4.96875
        Stony                -15.78250            -15.79750
        VeryStony            -25.93375            -25.95375
Shallow StoneFree             -9.62875             -9.63375
        Stony                -19.94750            -19.97250
        VeryStony            -23.91375            -23.95375

[6 rows x 138922 columns]

In [ ]:
#uploading 
SoilWaterDeficit.to_sql(name="SoilWaterDeficit",con=engine, if_exists ='replace')